* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
}

p {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $Playfair;
  font-size: 14px;
  font-weight: $regular;
  color: $black-60;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
