// Colors

$black-80: #121221;
$black-60: #444;
$black-40: #6c6c6c;
$black-20: #949494;
$lightGrey: #f8f8f8;
$white: #fdfdfd;

// Fonts

$Playfair: "Playfair Display", serif;
$Roboto: "Roboto", sans-serif;

// Weight

$regular: normal;
$bold: 700;

// Breackpoints

$minMobile: "min-width: 375px";
$minTablet: "min-width: 768px";
$minDesktop: "min-width: 1200px";
